<!doctype html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kapok-ERP</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.8/dist/vuetify.min.css" th:href="@{/webjars/vuetify/3.3.8/dist/vuetify.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css" th:href="@{/webjars/mdi__font/7.2.96/css/materialdesignicons.min.css}">
    <link rel="icon" th:href="@{/favicon.ico}">
</head>

<body>
<div id="app">
    <v-container class="mt-6">
        <div class="d-flex justify-center">
            <v-icon
                    size="large"
                    icon="mdi-store"
                    color="blue-darken-2"
                    class="align-self-center"></v-icon>
            <div class="text-h6 pa-2">Kapok-ERP</div>
        </div>
        <v-card
                rounded="lg"
                elevation="8"
                max-width="448"
                class="mx-auto pa-12">
            <v-alert
                    th:if="${param.error}"
                    closable
                    class="mb-4"
                    type="error"
                    border="start"
                    variant="tonal"
                    density="compact"
                    title="登录失败"
                    text="用户名或密码错误"
            ></v-alert>
            <v-alert
                    th:if="${param.logout}"
                    closable
                    class="mb-4"
                    type="success"
                    border="start"
                    variant="tonal"
                    density="compact"
                    title="登出成功"
                    text="您已经登出"
            ></v-alert>
            <form th:action="@{/login}" method="post">
                <div class="text-subtitle-1 text-medium-emphasis">用户账号</div>
                <v-text-field
                        autofocus
                        name="username"
                        density="compact"
                        variant="outlined"
                        placeholder="请输入用户账号"
                        prepend-inner-icon="mdi-account">
                </v-text-field>
                <div class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between">
                    用户密码
                    <a class="text-caption text-decoration-none text-blue" style="display: none;" href="javascript:void(0)" tabindex="-1">忘记密码？</a>
                </div>
                <v-text-field
                        name="password"
                        density="compact"
                        variant="outlined"
                        placeholder="请输入用户密码"
                        prepend-inner-icon="mdi-lock-outline"
                        :type="visible ? 'text' : 'password'"
                        :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
                        @click:append-inner="visible = !visible">
                </v-text-field>
                <v-btn
                        block
                        size="large"
                        type="submit"
                        color="primary"
                        variant="elevated">
                    登录
                </v-btn>
            </form>
        </v-card>
    </v-container>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.min.js" th:src="@{/webjars/vue/3.3.4/dist/vue.global.prod.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.8/dist/vuetify.min.js" th:src="@{/webjars/vuetify/3.3.8/dist/vuetify.min.js}"></script>

<script>
    const {createApp, ref} = Vue
    const {createVuetify} = Vuetify

    const vuetify = createVuetify({
        theme: {
            themes: {
                light: {
                    colors: {
                        primary: '#1867C0',
                        secondary: '#5CBBF6'
                    }
                }
            }
        }
    })
    const app = createApp({
        setup() {
            const visible = ref(false)

            return {
                visible
            }
        }
    })
    app.use(vuetify).mount('#app')
</script>
</body>
</html>
